<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="/assets/icon.jpg">
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/assets/izitoast/v1.4.0/iziToast-1.4.0.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/v5.2.2/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/font-awesome/v5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/assets/sweetalert/v2/sweetalert2.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/login.css">
</head>
<body>
<div class="container">
    <!--Data or Content-->
    <div class="box-1">
        <div class="content-holder">
            <h2>Hello!</h2>

            <button class="button-1" onclick="signup()">Sign up</button>
            <button class="button-2" onclick="login()">Login</button>
        </div>
    </div>


    <!--Forms-->
    <div class="box-2">
        <div class="login-form-container">
            <h1>Cắm Chìa khóa Vào</h1>
            <input type="text" id="emailLogin" placeholder="Email" class="input-field">
            <br><br>
            <input type="password" id="passwordLogin" placeholder="Password" class="input-field">
            <br><br>
            <button class="login-button" id="btnLogin" type="button">Login</button>
        </div>


        <!--Create Container for Signup form-->
        <div class="signup-form-container">
            <h1 style="margin-top: 20px;">Xin Thông Tin</h1>
            <label for="role" style="margin-bottom: 10px">Role group</label><br>
                        <select name="role" id="role" style="margin-bottom: 10px; border-radius: 5px">
                            <option value="1">Admin role</option>
                            <option value="3">User role</option>
                        </select> <br>
            <input type="text" id="emailSignUp" placeholder="Username" class="input-field">
            <br><br>
            <input type="password" id="passwordSignUp" placeholder="Password" class="input-field">
            <br><br>
            <input type="password" id="confirmPasswordSignUp" placeholder="ConfirmPassword" class="input-field">
            <br>
            <button class="signup-button" id="btnSignUp" type="button" style="margin-top: 5px">Sign Up</button>
        </div>

    </div>


    <script type="text/javascript" src="/assets/jquery/jquery-v3.6.0.min.js"></script>
    <script type="text/javascript" src="/assets/izitoast/v1.4.0/iziToast-1.4.0.js"></script>

    <script src="/assets/js/app.js"></script>

    <script>

        const page = {
            urls: {
                login: App.BASE_URL_AUTH + "/login",
                register: App.BASE_URL_AUTH + "/register"
            },
            elements: {},
            commands: {},
            initializeEventControl: {}
        }

        page.elements.emailLogin = $("#emailLogin");
        page.elements.passwordLogin = $("#passwordLogin");
        page.elements.btnLogin = $("#btnLogin");

        page.elements.emailSignUp = $("#emailSignUp");
        page.elements.passwordSignUp = $("#passwordSignUp");
        page.elements.confirmPasswordSignUp = $("#confirmPasswordSignUp");
        page.elements.role = $("#role");
        page.elements.btnSignUp = $("#btnSignUp");

        page.commands.createSignUp = () => {
            let user = {
                "username": page.elements.emailSignUp.val(),
                "password": page.elements.passwordSignUp.val(),
                "role": {
                    "id": page.elements.role.val()
                }
            };

            if((page.elements.passwordSignUp.val()) == ((page.elements.confirmPasswordSignUp.val()))){
                $.ajax({
                    headers: {
                        "accept": "application/json",
                        "content-type": "application/json"
                    },
                    type: "POST",
                    url: page.urls.register,
                    data: JSON.stringify(user)
                })
                    .done(() => {
                        App.IziToast.showSuccessAlert("bạn được cấp chìa khóa nhà!");
                    })
                    .fail(() => {
                        App.IziToast.showErrorAlert("Sai rồi kìa nhìn lại xem !")
                    })
            } else {
                App.IziToast.showErrorAlert("Error! xem lại mật khẩu")
            }
        }
        function signup()
        {
            document.querySelector(".login-form-container").style.cssText = "display: none;";
            document.querySelector(".signup-form-container").style.cssText = "display: block;";
            document.querySelector(".container").style.cssText = "background: linear-gradient(to bottom, rgb(56, 189, 149),  rgb(28, 139, 106));";
            document.querySelector(".button-1").style.cssText = "display: none";
            document.querySelector(".button-2").style.cssText = "display: block";

        };

        function login()
        {
            document.querySelector(".signup-form-container").style.cssText = "display: none;";
            document.querySelector(".login-form-container").style.cssText = "display: block;";
            document.querySelector(".container").style.cssText = "background: linear-gradient(to bottom, rgb(6, 108, 224),  rgb(14, 48, 122));";
            document.querySelector(".button-2").style.cssText = "display: none";
            document.querySelector(".button-1").style.cssText = "display: block";

        }

        page.commands.login = () => {
            let user = {
                "username": page.elements.emailLogin.val(),
                "password": page.elements.passwordLogin.val()
            }

            $.ajax({
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                type: "POST",
                url: page.urls.login,
                data: JSON.stringify(user)
            })
            .done(() => {
                App.IziToast.showSuccessAlert("Bạn được vào nhà");

                setTimeout(() => {
                    window.location.href = "/customers";
                }, 500)
            })
            .fail(() => {
                App.IziToast.showErrorAlert("Rất tiếc thông tin truyền không đúng ??");
            })
        }

        page.initializeEventControl = () => {
            page.elements.btnLogin.on("click", () => {
                page.commands.login();
            })
            page.elements.btnSignUp.on("click", () => {
                page.commands.createSignUp();
            })
        }


        $(() => {
            page.initializeEventControl();
        })

    </script>
</body>
</html>